<h3>Hola {{name}}</h3>
{{#if last_name}}
<h2>{{last_name}}</h2>
{{else}}
<h2>aca deberia haber un apellido, si existe</h2>
{{/if}}
<div class="d-flex justify-content-evenly">
{{#each alumnos}}
    
    <div class="card" style="width: 15rem">
        <img src={{this.photo}} class="card-img-top" style="width: 15rem;height:8rem">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Producto nuevo</p>            
            <a href="#" class="btn btn-primary"> +Info </a>
        </div>
    </div>
{{/each}}
</div>

