
<!-- products.handlebars -->
<div class="d-flex justify-content-between container">
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar producto" name="filter" value="{{filter}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Paginación">
        <button type="button" class="btn btn-secondary" {{#if paginationprev}} onclick="window.location.href=`/products?page={{paginationprev}}`" {{else}} disabled {{/if}}>Prev</button>
        <button type="button" class="btn btn-secondary" {{#if paginationnext}} onclick="window.location.href=`/products?page={{paginationnext}}`" {{else}} disabled {{/if}}>Next</button>
    </div>
</div>
<form action="/products" method="GET">
  <label for="limit">Productos por página:</label>
  <input type="number" id="limit" name="limit" value={{productsPerPage}}>
  <button type="submit">Aplicar</button>
</form>

<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{{thumbnail}}" alt="{{title}}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{price}} €</h6>
                    <a href="{{link}}" class="btn btn-primary stretched-link mt-2">Ver detalles</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Paginación">
            <button type="button" class="btn btn-secondary" {{#if paginationprev}} onclick="window.location.href=`/products?page={{paginationprev}}`" {{else}} disabled {{/if}}>Prev</button>
            <button type="button" class="btn btn-secondary" {{#if paginationnext}} onclick="window.location.href=`/products?page={{paginationnext}}`" {{else}} disabled {{/if}}>Next</button>
        </div>
    </div>
</div>


<script type="module" src={{script2}}></script>