<div class="container title">
    {{topTitle}}
</div>
<div class="container">
    <div class="d-flex prodcutos">
    {{#each products}}
    <div class="card">
        
        <div class="thumbnailContainer">
            <img src={{this.thumbnail}} alt={{this.id}} class="card-img-top">
        </div>
        <div class="card-body">
            <h5>{{this.title}}</h5>
            <!-- <p class="prodDescription-creator prodDescription-position">{{this.description}}</p> -->
            <p class="card-text">{{this.price}}</p>
            {{#if this.inStock }}
                <button type="button" class="btn agregar-carrito">SUMAR AL CARRITO</button>
            {{else}}
                <button type="button" class="btn sin-stock" disabled>SIN STOCK</button>
            {{/if}}
        </div>
        
    </div>
{{/each}}
</div>
</div>

<script src={{script2}}></script>