
<div class="container title">
  <div class="pagination-buttons">
    <a href="/products?page={{paginationprev}}">Previous</a>
    <a href="/products?page={{paginationnext}}">Next</a>
</div>
<form action="/products" method="GET">
<input type="text" placeholder="Buscar productos" name="filter">
<button type="submit">Buscar</button>
</form>
<form action="/products" method="GET">
  <label for="limit">Productos por página:</label>
  <input type="number" id="limit" name="limit" value={{productsPerPage}}>
  <button type="submit">Aplicar</button>
</form>
    {{topTitle}}<br>
    {{limit}}
</div>
<div class="container">
<div class="d-flex productos" id="containerElementos">
  <div class="cards-container">
    {{#each products}}
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{price}}</p>
    <a href="{{link}}" class="btn btn-primary">Ver prodcuto »</a>
  </div>
</div>
{{/each}}
  </div>
</div>

</div>

<script type="module" src={{script2}}></script>